.main{
  min-height: 130px;
}

.h{
  background-color: #027bfe;
}
.test{
  font-size: 30px;
  color: white;
  font-family: Arial, sans-serif;
}
.e{
  font-size: 14px;
  color: white;
  font-family: Arial, sans-serif;
}