.h1{
  text-align: center;
  color: red;
}
@font-face {
  font-family: 'RoadRage';
  src: url('/My_Abhay/src/assets/Road-Rage.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.road-text {
  font-family: 'RoadRage', sans-serif;
}